:root {
  --cds-background: #161616;
  --cds-layer: #262626;
  --cds-text-primary: #f4f4f4;
  --cds-text-secondary: #c6c6c6;
  --cds-link-primary: #78a9ff;
  --cds-button-primary: #0f62fe;
  --cds-button-primary-hover: #0353e9;
  --cds-border-interactive: #0f62fe;
  --cds-field-01: #393939;
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--cds-background);
  color: var(--cds-text-primary);
  font-family: 'IBM Plex Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
}